# Several servers
# primary, secondary, and tertiary illustrate running 3 intercommunicating instances.  This example has them running
# side-by-side on localhost -- which is unrealistic in production -- but does illustrate how multiple instances collaborate.
# Run by opening 3 separate command prompts:
# java -jar -Dspring.profiles.active=primary lab-4-eureka-server-solution-1.jar
# java -jar -Dspring.profiles.active=secondary lab-4-eureka-server-solution-1.jar
# java -jar -Dspring.profiles.active=tertiary lab-4-eureka-server-solution-1.jar
#
# Add in /etc/hosts:
# START section for Microservices with Spring Course
#   127.0.0.1       eureka-primary
#   127.0.0.1       eureka-secondary
#   127.0.0.1       eureka-tertiary
# END section for Microservices with Spring Course

---
spring:
  profiles: primary

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-secondary:8012/eureka/,http://eureka-tertiary:8013/eureka/

server:
  port: 8011
  
---
spring:
  profiles: secondary
  
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-primary:8011/eureka/,http://eureka-tertiary:8013/eureka/
      
server:
  port: 8012
  
---
spring:
  profiles: tertiary

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-primary:8011/eureka/,http://eureka-secondary:8012/eureka/
        
server:
  port: 8013